#calculator {
  height: 40rem;
  width: 21rem;
}

@media (max-width: 600px) {
  #calculator {
    width: 100vw;
    height: 100vh;
  }
}

body {
  background-color: #BBD2EC;
}

#root, html, body   {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column-reverse;
  background-color: #1C1C1C;
  padding-bottom: 48px;
}

.button-row {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

input {
  text-align: right;
  font-size: 64px;
  color: white;
  background-color: #1C1C1C;
  border: none;
  padding-right: 16px;

}

/* button css */

.calc-button {
  flex-basis: 1;
  flex-shrink: 0;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.zero {
  border-radius: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
}

.orange-op {
  background-color: #FF9500;
  color: white;
}

.grey-op {
  background-color: #D4D4D2;
}

.number {
  background-color: #505050;
  color: white;
}

/* button css */

/* remove number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

